.background-banner {
  background-image:  url('/images/hapo_banner.png'), linear-gradient(0, $bg-banner, $white-text-color);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 820px;
}

.title {
  position: absolute;
  top: 278px;
  left: 26px;
}

.banner-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 61px;
  color: $text-blue;
  width: 580px;

  .title-extra {
    display: flex;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: $text-blue;

    .title-img {
      margin: 0 4px;
      height: 61px;
    }
  }
}

.title-content {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  color: $main-text-color;
  width: 250px;
  margin-top: 20px;
}

.btn-start {
  background: $main-bg-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 35px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: $white-text-color;
  margin-top: 26px;
  width: 377px;
  height: 70px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .background-banner {
    background-image: url('/images/Hapo_Learn_banner_tablet.png'), linear-gradient(0, $bg-banner, $white-text-color);
    height: 496px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .title {
    top: 153px;
    left: 16px;
  }

  .banner-title {
    font-size: 30px;

    .title-extra {
      font-size: 30px;

      .title-img {
        margin: 19px 2px 0 2px;
        height: 24px;
      }
    }
  }

  .title-content {
    font-size: 16px;
  }

  .btn-start {
    font-size: 16px;
    width: 200px;
    height: 40px;
  }

  .mt-40 {
    margin-top: 40px;
  }
}

@media (max-width: 739px) {
  .background-banner {
    background-image: url('/images/Hapo_Learn_banner_mobile.png'), linear-gradient(0, $bg-banner, $white-text-color);
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 24vh;
  }

  .title {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 16px 0 116px 0;
    text-align: left;
  }

  .banner-title {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    width: 18rem;
    margin-left: 20%;

    .title-extra {
      display: inline;
      font-size: 25px;
      line-height: 30px; 
      
      .title-img {
        margin: 0px 2px 0 2px;
        height: 23px;
      }
    }
  }

  .title-content {
    display: inline;
    margin-top: -16px;
    font-size: 16px;
    width: 199px;
    margin-left: 20%;
    width: 30px;
    
    .title-content--extra {
      margin-left: 20%;
    }
  }

  .start {
    text-align: center;
  }

  .btn-start {
    font-size: 16px;
    width: 250px;
    height: 46px;
  }
}
