.banner {
  margin-top: 100px;
}

.banner-main {
  height: 655px;
  background-image: url('/images/hapo_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.banner-content {
  margin-left: 60px;
  position: absolute;
}

.banner-heading {
  max-width: 570px;
  line-height: 1.3;
  font-family: $main-font;
  font-size: 50px;

  .banner-slogan {
    color: #11114E;
    font-weight: 400;
    font-family: $main-font;
  }

  .slogan-title {
    font-weight: 700;
    font-family: $main-font;
  }
}

.banner-text {
  margin-top: 20px;

  .paragraph {
    font-size: 20px;
    color: $main-text-color;
    font-weight: 400;
    max-width: 300px;
  }
}

.banner-logo {
  width: 395px;
}

.banner-button {
  width: 315px;
  height: 70px;
  font-family: $main-font;
  margin-top: 26px;
  background: $main-bg-color;
  color: $white-text-color;
  font-weight: 700;
  font-size: 30px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0;
}

.bg-banner {
  width: 100%;
  height: 150px;
  background-color: $bg-banner;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 80px;
  }

  .banner-main {
    width: 100%;
    height: 100vh;
    background-size: contain;
  }

  .banner-content {
    top: 60px ;
    margin-left: 20px;
  }

  .banner-heading {
    .banner-slogan {
      font-size: 30px;
      max-width: 341px;
    }

    .slogan-title {
      font-weight: 700;
    }
  }

  .banner-text {
    .paragraph {
      font-size: 16px;
      max-width: 230px;
    }
  }

  img {
    width: 30px;
  }

  .banner-button {
    width: auto ;
    height: auto;
    font-size: 16px;
    padding: 6px 30px 7px 30px;
    margin-top: 20px;
  } 

  .bg-banner {
    margin-top: -675px;
    height: 116px;
  }
}

@media (max-width: 480px) {
  .banner {
    margin-top: 65px;
  }

  .banner-main {
    justify-content: center;
  }

  .banner-content {
    top: 190px ;

    .banner-heading {
      max-width: 257px;

      .banner-slogan {
        font-size: 22px;
      }
    }

    .banner-button {
      padding: 6px 60px 7px 60px;
    }
  }

  .bg-banner {
    margin-top: -490px;
    height: 80px;
  }
}
.nav-test {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.navbar-brand {
  margin-left: 25px;
}

.logo-image {
  width: 340px;
  height: 70px;
}

.nav-item {
  margin: 0 35px;
  text-transform: uppercase;

  &:hover {
    border-radius: 17px;
    background-color: $main-bg-color;
  }
}

.navbar-light {
  .navbar-nav {
    display: flex;
    justify-content: flex-end;

    .nav-link {
      font-weight: 700;
      color: $main-text-color; 
      font-weight: 600;

      &:hover {
        color: white !important;
      }
    }
  }
}

@media (max-width: 768px) {  
  .nav-test {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
  }

  .navbar-brand {
    margin-left: 21px;
  }

  .logo-image {
    width: 224px;
    height: 51px;
  }

  .nav-item {
    &:hover {
      border-radius: 17px;
      background-color: white;
    }
  }

  .nav-link {
    font-weight: 700;
    padding-top: 20px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    line-height: 21.9px;

    &:hover {
      color: $main-bg-color !important ;
    }
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    margin-left: 21px;
  }

  .logo-image {
    width: 130px;
    height: 27px;
  }

  .navbar-toggler-icon {
    font-size: 20px;
  }

  .nav-item {
    &:hover {
      border-radius: 17px;
      background-color: white;
    }
  }

  .nav-link {
    font-weight: 700;
    padding-top: 20px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      color: $main-bg-color !important ;
    }
  }
} 