.course-item {
    width: 370px;
    height: 470px;

    .img {
        background-color: #3F6185;
        width: 100%;
        height: 215px;

        .card-img {
            width: 225px;
            height: 125px;
            left: 70px;
            top: 43px;
            position: absolute;
        }
    }

    .card-body {
        .card-title {
            font-family: 'UTM BryantLG';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -0.05em;
            color: #B2D235;
        }
    
        .card-text {
            font-family: 'UTM BryantLG';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.05em;
            color: #505353;
        }
    
        .a {
            background-color: $main-bg-color;
            color: $white-text-color;
            box-shadow: inset 0px 1.5px 2px #6F8710;
            border-radius: 22px;
            padding: 10px 30px;
            margin-left: 42px;
        }
    }
}

