.border-course {
  border-radius: 1.25rem !important;
  border: 0;
}
  
.card-position {
  top: -6rem;
}
  
.card-shadow {
  box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.6) ;
}

.img-custom.card-one {
  background-image: url('/images/html.png');
  background-position: center;
  background-size: auto auto;
  background-color: #3F6185;
  background-repeat: no-repeat;
  height: 13.5rem;
}  

.img-custom.card-two {
  background-image: url('/images/laravel.png');
  background-position: center;
  background-size: auto auto;
  background-color: #DC594C;
  background-repeat: no-repeat;
  height: 13.5rem;
}  
 
.img-custom.card-three {
  background-image: url('/images/php.png');
  background-position: center;
  background-size: auto auto;
  background-color: #556598;
  background-repeat: no-repeat;
  height: 13.5rem;
}  

.rounded-top-1 {
  border-top-left-radius: 1.25rem ;
  border-top-right-radius: 1.25rem ;
}

.card-content,
.other-courses-title,
.course-shows {
  text-align: center;
  font-family: $main-font;
  font-style: normal;
}
  
.card-content {
  padding: 22px !important;
}

.title-course {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: $main-bg-color;
}
  
.title-course-content {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05em;
  color: $main-text-color;
}
  
.btn-course {
  background: $main-bg-color;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  color: $white-text-color;
  padding: 9px 39px;
}
  
.other-courses-title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: -0.02em;
  color: $text-blue;
}
  
.other-courses-text {
  display: inline;
  border-bottom: 3px solid $main-bg-color;
}
  
.other-card-position {
  margin-top: 45px;
}
  
.course-shows {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: #90AB26;
  margin-top: 60px;
  margin-bottom: 84px;
}

@media  (min-width: 740px) and  (max-width: 1023px) {
  .card-distance {
    margin-bottom: 40px;
  }
  
  .card-content {
    text-align: left;
  }
  
  .title-course-content {
    text-align: left;
  }
  
  .btn-course {
    float: right;
  }
  
  .title-course {
    font-size: 20px;
  }
    
  .title-course-content {
    font-size: 14px;
  }
    
  .other-courses-title {
    font-size: 50px;
  }
  
  .rounded-top-1 {
    border-top-right-radius: 0 ;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
  
  .card-end {
    margin-bottom: 0;
  }
  
  .course-shows {
    margin-top: 20px;
    margin-bottom: 48px;
    font-size: 28px;
  }
}

  @media (max-width: 739px) {
  .row-color {
    background-image: linear-gradient(0, #E5E5E5, #ffff);
  }

  .background-banner {
    background-image: url('/images/Hapo_Learn_banner_mobile.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 24vh !important;
  }

  .title {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 16px 0 116px 0;
    text-align: left;
  }

  .title-img {
    margin: 0px 2px 0 2px;
    height: 23px;
  }

  .banner-title {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    width: 17rem;
    margin-left: 12%;
  }

  .title_extra {
    display: inline;
    font-size: 25px;
    line-height: 30px;  
  }

  .title_content {
    display: inline;
    margin-top: -16px;
    font-size: 16px;
    width: 199px;
    margin-left: 12%;
    width: 30px;
  }

  .start {
    text-align: center;
  }

  .btn-start {
    font-size: 16px;
    width: 250px;
    height: 46px;
  }

  .img-custom {
    height: 163px;
  }
  
  .card-distance {
    margin-bottom: 30px;
  }

  .title-course {
    font-size: 20px;
  }
  
  .title-course-content {
    font-size: 12px;
  }
  
  .other-courses-title {
    font-size: 40px;
  }

  .card-end {
    margin-bottom: 0;
  }

  .course-shows {
    font-size: 22px;
    margin-top: 45px;
  }

}

@media (max-width: 739px) {
  .card-distance {
    margin-bottom: 30px;
  }
  
  .title-course {
    font-size: 20px;
  }
    
  .title-course-content {
    font-size: 12px;
  }
    
  .other-courses-title {
    font-size: 40px;
  }
  
  .card-end {
    margin-bottom: 0;
  }
  
  .course-shows {
    font-size: 22px;
    margin-top: 45px;
  }
}
