.footer{
    @include fb;
    background-color: #505353;
    .footer__logo{
        margin-left: 46px;
        margin-top: 46px;
        p{
            font-family: $main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24.52px;
            letter-spacing: -5%;
            max-width: 280px;
            margin-left: 65px;
            margin-bottom: 112px;
            margin-top: 20px;
            color: $white-text-color;
            margin-right: 20px  ; 
        }
    }
    
    .footer__contact{
        text-decoration: none;
        @include fb ;
        .nav-1{
            margin-top: 68px;
            margin-bottom: 46px;
            list-style-type: none;
            margin-right: 50px;
            li{
                padding: 15px 0;
                color: $white-text-color;
                cursor: pointer;
            }
        }
        .nav-2{
            list-style-type: none;
            margin-top: -15px;
            li{
                padding: 15px 0;
                color: $white-text-color;
                cursor: pointer;
            }
        }
    }

    .footer__link {
        margin-right: 208px;
        display: flex;
        flex-direction: row;
        margin: 124px 208px 124px 0;
        .fb{
            margin-right: 40px;
            font-size: 30px;
            color: $white-text-color;
        }
        .youtube,.ig {
            @extend .fb ;
        }
    }
}
.info {
    background-color: #454545;
    p {
        color : #ffffff;
        font-size: 15px ;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -5%;
        font-family: $main-font;
        text-align: center;
        padding: 7px 0 13px 0;
    }
}
