.edit_column {
    margin-top: -35px;
}

.edit_img {
    margin-left: -104px;
}

.edit_font {
  font-family: 'UTM BryantLG';
  font-size: 16px;
  font-weight: 400;
}
  
.edit_contact {
  margin-left: 175px;
}
  
.edit_icon {
  display: flex;
  justify-content: center;
  align-items: center
}

.edit_icon_private {
  font-size: 24px;
  color: #505353 !important;
  background: #FFFFFF;
  padding: 11px 16px 9px 17px;
  border-radius: 41px;
  margin-left: 41px;
}
  
.edit_footer {
  background-color: #505353;
  color: #FFFFFF;
}
