.navbar-brand{
  margin-left: 20px;
}

.navbar-nav {
  justify-content: flex-end;
  .nav-link {
    margin-right: 35px;
    color : $main-text-color !important;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    &:hover {
      background-color: $main-bg-color ;
      border-radius: 17px;
      color: #FEFFFF !important;
    }
  }
}

.example {
  min-height: 100vh;
}

@media (max-width: 992px) {
	// TODO
}

