.navbar-block {
  z-index: 1;

  .navbar-img {
    display: flex;
    height: 100px;
    align-items: center;
    margin-left: 30px;

    .logo-image {
      width: 340px;
      height: 70px;
    }
  }
}

.navbar-nav {
  justify-content: flex-end;
}

.nav-list {
  margin-right: 44px;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: $main-text-color;
      margin-left: 35px;
      width: 128px;
      height: 34px;
      text-align: center;

      &:hover {
        cursor: pointer;
        color: $white-text-color;
        background-color: $main-bg-color;
        border-radius: 24px;
      }
    } 
  }
}

@media  (min-width: 740px) and  (max-width: 1023px) {
  .navbar-block {
    .navbar-img {
      margin: 0;
  
      .logo-image {
        width: 224px;
        height: 50px;
      }
    }
  }

  .navbar-light {
    .navbar-nav {
      padding-bottom: 15px;
  
      .nav-link {
        margin-left: 0;  
        text-align: left;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 10px 0 30px 10px;

        &:hover {
          cursor: pointer;
          background-color:#FEFFFF;
          color: $main-bg-color;
        }
      }  
    }
  }

  .nav-button {
    border: 0;
  }

  .nav-icon {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: $main-text-color;
  }
}

@media (max-width: 739px) {
  .navbar-block {
    .navbar-img {
      display: flex;
      height: 54px;
      align-items: center;
      margin-left: 5px;
      padding: 0;
  
      .logo-image {
        width: 150px;
        height: 26px;
      }
    }
  }

  .navbar-light {
    .navbar-nav {
      padding-bottom: 15px;
  
      .nav-link {
        margin-left: 0;  
        text-align: left;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 10px 0 30px 10px;

        &:hover {
          cursor: pointer;
          background-color: $white-text-color;
          color: $main-bg-color;
        }
      }  
    }
  }
}
